.App {
  text-align: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 300px;
}

.item img {
  max-width: 100%;
}
